<h1>Admin Pending List</h1>
<br>
<h2>Urgent</h2>
<form>
<input type="checkbox" name="urgent" value="entry1">Remove product 1<br>
<input type="checkbox" name="urgent" value="entry2">Fix price of product 2<br>
<input type="checkbox" name="urgent" value="entry3">...<br>
</form>
<font size="2">
<u>new item</u>, <u>edit</u>, <u>clear</u>
</font>

<br><br>
<h2>To Do </h2>
<form>
<input type="checkbox" name="todo" value="entry1">list product 10<br>
</form>

<font size="2">
<u>new item</u>, <u>edit</u>, <u>clear</u>
</font>
<br><br><br><br><br>
